@charset "utf-8";
/* CSS Document */

html {
	background: #000;
}

body {
	background: #000;
	margin: 0;
	padding: 0;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
}

p {
	margin-top: 0;
}

img {
	border: none;
}

#pageWrapper {
	margin: 10px auto;
	width: 700px;
	background: #fff url("../images/background.png") no-repeat bottom right;
}

#header {
	color: #fff;
	background: #000;
}

h1.logotype {
	background: url("../images/iPhoneIcon.png") no-repeat top left;
	font-size: 50px;
	margin-bottom: 0;
	padding-left: 70px;
}

a.itunesLink {
	color: #fff;
	float: right;
	margin-top: 32px;
}

#content {
	padding: 15px 15px 5px 15px;
}

#footer {
	clear: both;
}
.screenshots {
	float: left;
	margin-right: 1.2em;
	width: 340px;
}

.screenshots a {
	float: left;
	margin: 0 10px 10px 0;
}
